{% extends "rcdapp/base.html" %}
{% block title %} {{block.super}} カルテ削除 {% endblock %}
{% block content %} 
    <div class="form_contents">
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <p></p>
            <p class="confirm">以下のカルテを本当に削除しますか？</p>
            {% for message in messages %}
                <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
            {% if not messages %}
                <p>カルテNo.：　{{delete_value.id}}</p>
                <p>飼い主の名前：　{{delete_value.name_orner}}</p>
                <p>ワンちゃんの名前：　{{delete_value.name_dog}}</p>
                <p>犬種：　{{delete_value.breed_dog}}</p>
                <p>電話番号：　{{delete_value.tel}}</p>
                <p>店：　{{delete_value.store}}</p>
                {{delete_form.as_p}}
                <div class="class_btn"><input class="cls_button" type="submit" value="削除"></div>
            {% endif %}
        </form>
        {% if form %}
            <p></p>
            <p>削除しました。</p>
        {% endif %}
    </div>
{% endblock %}