{% extends "rcdapp/base.html" %}
{% block title %} {{block.super}} Home {% endblock %}
{% block content %} 
    <br>
    <br>
    <div class="form_contents">
        <h1 class="class_subject">ログイン</h1>
        <form method="POST">
            {% csrf_token %}
            {% for message in messages %}
                <div {% if message.tags %}class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
            {{ login_form.as_p}}
            <div class="class_btn"><input class="cls_button" type="submit" value="ログイン"></div>
        </form>
    </div>
{% endblock %}
