@media (max-width:700px) {
    .container {
        max-width:700px;
    }

    .heder_menu a {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }

    .form_contents {
        width: 300px;
    }

    .delete_contents {
        width: 300px;
    }

    h1 {
        font-size: 20px;
    }

    table.class_table th {
        font-size: 12px;
    }
    table.class_table td{
        font-size: 12px;
    }
}